/* CSS Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
/* FONT */

h2, h1{
    font-size: 59px;
    font-weight: 800;
}
h3 {
    font-weight: 800;
}
h4{
    font-size: 25px;
    font-weight: 800;
}
h5 {
    color: #f8ae56;
    font-size: 59px;
    font-weight: 800;
}
h6{
    font-weight: 700;
    font-size: 22px;
    color: #e83e8c;
}
.font-title{
    font-size: 26px;
    font-weight: 800;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
small {
    font-size: 30%;
    font-weight: 600;
    color: black;
}
ul{
    padding: 0;
}
ul li {
    list-style: none;
}
.color__gradient{
    background: linear-gradient(to right, #f55f8d 0%, #f8ae56  100%);
}
.color__gradient:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.check__items{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 10px;
    color: white;
}
.check__items__about{
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #e83e8c;
    border: 2px solid;
}
.chayso__samar__counter{
    color: #e83e8c;
    font-size: 65px;
    font-weight: 800;
}
.padding__samar{
    padding-top: 115px;
    padding-bottom: 0;
}
.padding__row{
    padding-bottom: 30px;
}
/* Button Samar LinerGradient */
.btn__samar{
    background: linear-gradient(to right, #f55f8d 0%, #f8ae56  51%, #f55f8d  100%)
}
.btn__samar {
   margin: 10px;
   width: 145px;
   padding: 15px 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto; 
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 30px;
   display: block;
 }

 .btn__samar:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 /* //////////////////////////////END GLOBAL CSS////////////////////////////////////////// */
/* HEADER */
.header__samar ul li a{
    color: black;
    font-weight: 600;
}
#navbar {
    overflow: hidden;
    transition: all 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    top: 0; /* At the top */
    z-index: 999;
}
  
/* CAROUSEL */
.carousel__samar{
    background: url(../img/pic2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}
.carousel__samar__intro{
    z-index: 99;
    position: relative;
    padding-top: 180px;
}
.carousel__samar__img{
    width: 570px;
}
.moving{
    animation: move2 5s infinite;
    top: 0;
    right: 0;
    left: 20px;
}
/* SERVICE */
.service__samar{
    background: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding-top: 115px;
}
.service__samar__content{
    margin-bottom: 40px;
}
.servicer__card{
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 30%);
    transition: all 1s;
    cursor: pointer;
}
.servicer__card:hover{
    transform: translate(0rem , -1.5rem);
}
.service__picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 25px;
}
.service__picture img{
    width: 215px;
}
.service__content__text{
    padding: 15px 15px;
}
/* ABOUT OF */
.about__samar{
    padding-top: 115px;
    padding-bottom: 85px;
    background: url(../img/bg15.png);
    background-repeat: no-repeat;
    background-position: center right;
    margin-bottom: 7rem;
}
.about__samar__img__details{
    float: right;
    width: 50vw;
}
.about__samar__img__details__bg{
    height: 100%;
    background: #fef2f6;
    position: absolute;
    top: 0;
    width: 50vw;
    z-index: -1;
    right: 40px;
    transform: rotate(8deg);
    border-radius: 0 100px 100px 0;
}
.about__samar__img__details img{
    border-radius: 0 100px 100px 0;
}

/* COUNTER */
.chayso__samar{
    background: url(../img/bg14.png);
    background-repeat: no-repeat;
    background-position: center;
}
.around__samar__icon{
    border-radius: 50%;
    line-height: 105px;
    color: white;
    width: 80px;
    height: 80px;
    margin: auto;
}
/* Feature */
.features__samar{
    background: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.features__samar__infor{
    background:white;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    transition: all 0.8s;
}
.features__samar__infor::after{
    content: "";
    position: absolute;
    background: rgba(240, 113, 183,0.5);
    border-radius: 10px;
    width: 100%;
    height: 150px;
    /* -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s; */
    z-index: -1;
}
.features__samar__infor:hover{
    background: linear-gradient(to right, #f55f8d 0%, #f8ae56  100%);
    color: white;
    transition: all .8s;
}
.features__samar__infor:hover >i{
    color: white;
    transition: all .8s;
}


.features__samar__infor i{
    color: #f55f8d ;
    font-size: 50px;
    width: 40%;
}
.features__samar__img{
    padding-top: 70px;
    padding-left: 60px;
}
.features__samar__img >img{
    width: 660px;
    height: 648px;
}
/* Portfolio */
.Portfolio__samar{
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.portfolio__samar__gallery img{
    border-radius: 20px;
}
.portfolio__content{
    margin-bottom: 40px;
}
.portfolio__samar__item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.portfolio__samar__skew{
    position: absolute;
    width: 50%;
    top: 0;
    left: -75%;
    height: 100%;
    /* background: red; */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    transform: skewX(-17deg);
    transition: all .5s;
    overflow: hidden;
}
.portfolio__samar__overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: all .5s;
    opacity: 0;
    position: absolute;
    border-radius: 20px;

}
.overlay__icon{
    background: linear-gradient(to right, #f55f8d 0%, #f8ae56  100%);
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    transition: all .5s;
}
.overlay__text{
    text-align: left;
    bottom: 0;
    width: 100%;
    height: 0px;
    /* transform: translateY(100px); */
    color: white;
    padding: 20px;
    transition: all .8s;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* LIGHT GALLERY */
.lg-backdrop.in{
    opacity: .9;
}
.lg-outer.lg-components-open:not(.lg-zoomed) .lg-components {
    opacity: .7;
}
/* HOVER NHÓM  */
.portfolio__samar__overlay:hover{
    opacity: 1;
}
.portfolio__samar__overlay:hover > .overlay__icon{
    transform: translateY(20px) translateX(-20px);
    opacity: 1;
}
.portfolio__samar__overlay:hover > .overlay__text{
    height: 110px;
}
.portfolio__samar__item:hover > .portfolio__samar__skew{
    left: 100%;
    opacity: 1;
    position: absolute;
}
/* PLAN */
.plan__samar{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.plan__samar__tabs{
    width: 225px;
    align-items: center;
    height: 50px;
    border-radius: 8px;
}
.plan__samar ul{
    padding: 5px;
}
.plan__samar ul li a{
    color: white;
}
.nav-pills .nav-link.active{
    color: #000;
    background-color: #ffffff;
}
.card-body{
    padding: 0;
}
.card{
    padding: 30px 60px;
    border: none;
}
.plan__samar__card .plan__samar__img{
    width: 125px;
    margin: auto;
}
.plan__samar__card__details{
    border: 3px solid transparent;
    border-radius: 8px !important;
    border-image: none;
    overflow: hidden;
    transition: all 0.5s;
    border-image: 100 round;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
}

/* Liner-gradient for border */
.plan__samar__card__details:hover{
    border-image: url(../img/br.png) 1 round;
}











/* Blog CSS */
.blog__samar{
    background-image: url(images/background/bg16.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.blogcard__items{
    padding: 0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.blogcard__items img{
    border-radius: 8px;
}
.blogcard__items .card-body {
    padding: 10px;
}
.blogcard__items .card-body h4 a{
    font-size: 23px;
    font-weight: 800;
}
.blog__details ul{
    flex-wrap: wrap;
}
.post__date{
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff !important;
    font-weight: 400;
    line-height: 1;
    z-index: 1;
    top: 39%;
    left: 3%;
    position: absolute;
}
/* CLIENT */
.blog__samar{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.client__logo img{
    margin: auto;
}
.client__logo{
    padding: 25px 10px;
    background: white;
    margin: 10px;
    margin-right: 20px;
    cursor: pointer;
    height: 100px;
    border-radius: 10px;
    transition: all .5s;
    position: relative;
}
.client__logo:hover{
    background: linear-gradient(to right, #f55f8d 0%, #f8ae56  100%);
    box-shadow: 0px 0px 10px 1px rgba(241, 81, 228,0.78);
}
.client__logo:hover > .logo1{
    display: none;
}
.client__logo >.logo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.client__logo:hover > .logo2{
    display: block;
    transition: all 1.5s;
}

/* footer */
.footer__samar{
    background-image: url(../img/bg4.png);
    display: block;
    position: relative;
    background-color: #0e1b1f;
    background-repeat: no-repeat;
}
.footer__samar::before{
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__samar h4{
    margin: auto;
    font-size: 28px;
}
.footer__samar__sub{
    padding: 50px 60px;
    background-color: #fff;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.form-group{
    border-radius: 0.5rem 0 0 0.5rem !important;
}
.form-group .form-control{
    height: 50px !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
}
.input-group-addon button{
    border-radius: 0 0.5rem 0.5rem 0;
    height: 100%;
    width: 60%;
    border-color: transparent;
    margin: 0;
    padding: 0 0;
}
.input-group-addon button:hover{
    border: transparent;
}

.form-control:hover,.form-control:focus {
    border: 2px solid rgba(232, 62, 140,.4);
    box-shadow: none;
}
.widget_getintuch ul li{
    padding: 8px 0;
}
.widget_getintuch ul li span, .widget_services ul li a{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.widget_services h5{
    font-size: 24px;
    color: white;
}
.widget_services ul li{
    padding: 0.5rem 0rem 0.5rem 0.9375rem;
    margin-bottom: 0;
    line-height: 1.25rem;
}
.widget_services ul li a{
    color: white;
}
.footer-title{
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}
.widget_services ul li a::before{
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    display: block;
    left: 14px;
}


footer .footer-title:before, footer .footer-title:after{
    width: 15px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0%, #f8ae56  100%);
    background-size: 200%;
}
footer .footer-title:after {
    width: 45px;
    left: 20px;
}
footer .footer-logo {
    margin-bottom: 25px;
}
.footer__bottom{
    background-color: #1f343b;
    padding: 10px 0;
}
.dlab-social-icon li {
    display: inline-block;
}
.dlab-social-icon li a{
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.dlab-social-icon li a:hover{
    background: linear-gradient(to right, #f55f8d 0%, #f8ae56  100%);
}
/* BACK TO TOP */
#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    color: white;
    box-shadow: none;
    border: 1px solid rgba(232, 62, 140,.1);
    transition: all 0.6s;
    
}
#back-to-top:hover{
    background: white;
    color: #f55f8d;
    border: 1px solid #f55f8d;
}

/* Chuyển Động Ảnh nền */
@-webkit-keyframes move2 {
    0% {
      transform: rotate(5deg) 
    }
    50% {
      transform: rotate(-5deg)  
    }
    100% {
      transform: rotate(5deg) 
     } 
}
/* RESPONSIVE */
@media only screen and (max-width: 1440px) {
    .about__samar__img__details{
        width: 68vw;
    }
}